<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="user" (ngSubmit)="login()">
  <div style="margin-top:20px">
    <ion-item class="item-input">
      <ion-label position="stacked" padding-bottom color="medium">EMAIL</ion-label>
      <ion-input type="email" name="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="item-input">
      <ion-label position="stacked" padding-bottom color="medium">PASSWORD</ion-label>
      <ion-input type="password" name="password" formControlName="password"></ion-input>
    </ion-item>
  </div>
  <ion-button type="submit" expand="full" type="submit" class="submit-button">Send
    <span *ngIf="spinner">
      <ion-spinner name="lines"></ion-spinner>
    </span>
  </ion-button>

</form>
</ion-content>