<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Startseite
    </ion-title>
    <ion-buttons slot="secondary" >
      <ion-button fill="solid" [routerLink]="['/register']">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        Register
      </ion-button>
      <ion-button fill="solid" [routerLink]="['/login']">
        <ion-icon name="enter-outline"></ion-icon>
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TaxiApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Startseite</strong>
    <p>User Logged in? {{ isUserLoggedIn }}</p>
     <ion-card-content>

        <ion-badge color="secondary">Token: {{ userToken }}</ion-badge><br />

     </ion-card-content>
  </div>
</ion-content>
